In [161]:
import pandas as pd
import numpy as np

In [162]:
data= pd.read_csv('Desktop/loan.csv',low_memory=False)

In [163]:
data.shape

(887379, 74)

In [164]:
data.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'loan_status', 'pymnt_plan', 'url', 'desc', 'purpose',
       'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs',
       'earliest_cr_line', 'inq_last_6mths', 'mths_since_last_delinq',
       'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal',
       'revol_util', 'total_acc', 'initial_list_status', 'out_prncp',
       'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp',
       'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt',
       'next_pymnt_d', 'last_credit_pull_d', 'collections_12_mths_ex_med',
       'mths_since_last_major_derog', 'policy_code', 'application_type',
       'annual_inc_joint', 'dti_joint', 'verification_status_joint',
       'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m',
       'open_il_6m', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il',
       'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc',
       'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl',
       'inq_last_12m'],
      dtype='object')

In [165]:
data['loan_status'].value_counts()

Current                                                601779
Fully Paid                                             207723
Charged Off                                             45248
Late (31-120 days)                                      11591
Issued                                                   8460
In Grace Period                                          6253
Late (16-30 days)                                        2357
Does not meet the credit policy. Status:Fully Paid       1988
Default                                                  1219
Does not meet the credit policy. Status:Charged Off       761
Name: loan_status, dtype: int64

In [166]:
data=data[(data['loan_status']=='Fully Paid')|( data['loan_status']=='Late (31-120 days)')|
          ( data['loan_status']=='Late (16-30 days)')]

In [167]:
data.shape

(221671, 74)

In [168]:
data['loan_status'].value_counts()

Fully Paid            207723
Late (31-120 days)     11591
Late (16-30 days)       2357
Name: loan_status, dtype: int64

In [169]:
data['loan_status']=data['loan_status'].apply(lambda x: 'Safe' if x=='Fully Paid' 
                                             else 'Risky')

In [170]:
data['loan_status'].value_counts()

Safe     207723
Risky     13948
Name: loan_status, dtype: int64

In [171]:
data.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,1077501,1296599,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1077175,1313524,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1076863,1277178,10000.0,10000.0,10000.0,36 months,13.49,339.31,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1075269,1311441,5000.0,5000.0,5000.0,36 months,7.90,156.46,A,A4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1072053,1288686,3000.0,3000.0,3000.0,36 months,18.64,109.43,E,E1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [172]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 221671 entries, 0 to 887369
Data columns (total 74 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id                           221671 non-null  int64
 1   member_id                    221671 non-null  int64
 2   loan_amnt                    221671 non-null  float64
 3   funded_amnt                  221671 non-null  float64
 4   funded_amnt_inv              221671 non-null  float64
 5   term                         221671 non-null  object
 6   int_rate                     221671 non-null  float64
 7   installment                  221671 non-null  float64
 8   grade                        221671 non-null  object
 9   sub_grade                    221671 non-null  object
 10  emp_title                    210229 non-null  object
 11  emp_length                   213438 non-null  object
 12  home_ownership               221671 non-null  object
 13  annual_inc                   221671 non-null  float64
 14  verification_status          221671 non-null  object
 15  issue_d                      221671 non-null  object
 16  loan_status                  221671 non-null  object
 17  pymnt_plan                   221671 non-null  object
 18  url                          221671 non-null  object
 19  desc                         74433 non-null   object
 20  purpose                      221671 non-null  object
 21  title                        221660 non-null  object
 22  zip_code                     221671 non-null  object
 23  addr_state                   221671 non-null  object
 24  dti                          221671 non-null  float64
 25  delinq_2yrs                  221671 non-null  float64
 26  earliest_cr_line             221671 non-null  object
 27  inq_last_6mths               221671 non-null  float64
 28  mths_since_last_delinq       99369 non-null   float64
 29  mths_since_last_record       28370 non-null   float64
 30  open_acc                     221671 non-null  float64
 31  pub_rec                      221671 non-null  float64
 32  revol_bal                    221671 non-null  float64
 33  revol_util                   221508 non-null  float64
 34  total_acc                    221671 non-null  float64
 35  initial_list_status          221671 non-null  object
 36  out_prncp                    221671 non-null  float64
 37  out_prncp_inv                221671 non-null  float64
 38  total_pymnt                  221671 non-null  float64
 39  total_pymnt_inv              221671 non-null  float64
 40  total_rec_prncp              221671 non-null  float64
 41  total_rec_int                221671 non-null  float64
 42  total_rec_late_fee           221671 non-null  float64
 43  recoveries                   221671 non-null  float64
 44  collection_recovery_fee      221671 non-null  float64
 45  last_pymnt_d                 221510 non-null  object
 46  last_pymnt_amnt              221671 non-null  float64
 47  next_pymnt_d                 13948 non-null   object
 48  last_credit_pull_d           221655 non-null  object
 49  collections_12_mths_ex_med   221621 non-null  float64
 50  mths_since_last_major_derog  42896 non-null   float64
 51  policy_code                  221671 non-null  float64
 52  application_type             221671 non-null  object
 53  annual_inc_joint             3 non-null       float64
 54  dti_joint                    3 non-null       float64
 55  verification_status_joint    3 non-null       object
 56  acc_now_delinq               221671 non-null  float64
 57  tot_coll_amt                 167834 non-null  float64
 58  tot_cur_bal                  167834 non-null  float64
 59  open_acc_6m                  144 non-null     float64
 60  open_il_6m                   144 non-null     float64
 61  open_il_12m                  144 non-null     float64
 62  open_il_24m                  144 non-null     float64
 63  mths_since_rcnt_il           140 non-null     float64
 64  total_bal_il                 144 non-null     float64
 65  il_util                      126 non-null     float64
 66  open_rv_12m                  144 non-null     float64
 67  open_rv_24m                  144 non-null     float64
 68  max_bal_bc                   144 non-null     float64
 69  all_util                     144 non-null     float64
 70  total_rev_hi_lim             167834 non-null  float64
 71  inq_fi                       144 non-null     float64
 72  total_cu_tl                  144 non-null     float64
 73  inq_last_12m                 144 non-null     float64
dtypes: float64(49), int64(2), object(23)
memory usage: 126.8+ MB

In [173]:
data['application_type'].value_counts()

INDIVIDUAL    221668
JOINT              3
Name: application_type, dtype: int64

In [174]:
data=data.drop(data[data['application_type'] == 'JOINT'].index)
data=data.drop('application_type',axis=1)

In [175]:
dtypes=np.array(data.dtypes)

In [176]:
dtypes

array([dtype('int64'), dtype('int64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('O'), dtype('float64'), dtype('float64'),
       dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'),
       dtype('float64'), dtype('O'), dtype('O'), dtype('O'), dtype('O'),
       dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'),
       dtype('O'), dtype('float64'), dtype('float64'), dtype('O'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('O'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('O'), dtype('float64'),
       dtype('O'), dtype('O'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'), dtype('O'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64')], dtype=object)

In [177]:
null=np.array(data.isnull().sum())
null

array([     0,      0,      0,      0,      0,      0,      0,      0,
            0,      0,  11442,   8233,      0,      0,      0,      0,
            0,      0,      0, 147235,      0,     11,      0,      0,
            0,      0,      0,      0, 122299, 193298,      0,      0,
            0,    163,      0,      0,      0,      0,      0,      0,
            0,      0,      0,      0,      0,    160,      0, 207722,
           16,     50, 178772,      0, 221668, 221668, 221668,      0,
        53837,  53837, 221524, 221524, 221524, 221524, 221528, 221524,
       221542, 221524, 221524, 221524, 221524,  53837, 221524, 221524,
       221524], dtype=int64)

In [178]:
leakage_columns = ['out_prncp','out_prncp_inv','total_pymnt','total_pymnt_inv','total_rec_prncp','total_rec_int',
    'total_rec_late_fee','recoveries','collection_recovery_fee','last_pymnt_d','last_pymnt_amnt','next_pymnt_d',
    'last_credit_pull_d'
]
data= data.drop(columns=[col for col in leakage_columns if col in data.columns])

In [179]:
data.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'loan_status', 'pymnt_plan', 'url', 'desc', 'purpose',
       'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs',
       'earliest_cr_line', 'inq_last_6mths', 'mths_since_last_delinq',
       'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal',
       'revol_util', 'total_acc', 'initial_list_status',
       'collections_12_mths_ex_med', 'mths_since_last_major_derog',
       'policy_code', 'annual_inc_joint', 'dti_joint',
       'verification_status_joint', 'acc_now_delinq', 'tot_coll_amt',
       'tot_cur_bal', 'open_acc_6m', 'open_il_6m', 'open_il_12m',
       'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util',
       'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util',
       'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m'],
      dtype='object')

In [180]:
data=data.drop(['annual_inc_joint',
       'dti_joint', 'verification_status_joint'],axis=1)

In [181]:
data.shape

(221668, 57)

In [182]:
high_missing_cols = [col for col in data.columns if data[col].isnull().mean() > 0.6]
print(high_missing_cols)
data = data.drop(columns=high_missing_cols)

['desc', 'mths_since_last_record', 'mths_since_last_major_derog', 'open_acc_6m', 'open_il_6m', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util', 'inq_fi', 'total_cu_tl', 'inq_last_12m']

In [183]:
data.isnull().mean()*100

id                             0.000000
member_id                      0.000000
loan_amnt                      0.000000
funded_amnt                    0.000000
funded_amnt_inv                0.000000
term                           0.000000
int_rate                       0.000000
installment                    0.000000
grade                          0.000000
sub_grade                      0.000000
emp_title                      5.161773
emp_length                     3.714113
home_ownership                 0.000000
annual_inc                     0.000000
verification_status            0.000000
issue_d                        0.000000
loan_status                    0.000000
pymnt_plan                     0.000000
url                            0.000000
purpose                        0.000000
title                          0.004962
zip_code                       0.000000
addr_state                     0.000000
dti                            0.000000
delinq_2yrs                    0.000000
earliest_cr_line               0.000000
inq_last_6mths                 0.000000
mths_since_last_delinq        55.172149
open_acc                       0.000000
pub_rec                        0.000000
revol_bal                      0.000000
revol_util                     0.073533
total_acc                      0.000000
initial_list_status            0.000000
collections_12_mths_ex_med     0.022556
policy_code                    0.000000
acc_now_delinq                 0.000000
tot_coll_amt                  24.287222
tot_cur_bal                   24.287222
total_rev_hi_lim              24.287222
dtype: float64

In [184]:
# For categorical columns with missing values
for col in data.select_dtypes(include=['object', 'category']).columns:
    if data[col].isnull().any():
        data[f'{col}_missing_flag'] = data[col].isnull().astype(int)

# For numeric columns with missing values
for col in data.select_dtypes(include=['number']).columns:
    if data[col].isnull().any():
        data[f'{col}_missing_flag'] = data[col].isnull().astype(int)

In [185]:
data.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'loan_status', 'pymnt_plan', 'url', 'purpose', 'title',
       'zip_code', 'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line',
       'inq_last_6mths', 'mths_since_last_delinq', 'open_acc', 'pub_rec',
       'revol_bal', 'revol_util', 'total_acc', 'initial_list_status',
       'collections_12_mths_ex_med', 'policy_code', 'acc_now_delinq',
       'tot_coll_amt', 'tot_cur_bal', 'total_rev_hi_lim',
       'emp_title_missing_flag', 'emp_length_missing_flag',
       'title_missing_flag', 'mths_since_last_delinq_missing_flag',
       'revol_util_missing_flag', 'collections_12_mths_ex_med_missing_flag',
       'tot_coll_amt_missing_flag', 'tot_cur_bal_missing_flag',
       'total_rev_hi_lim_missing_flag'],
      dtype='object')

In [186]:
data['emp_length'].value_counts()

10+ years    67961
2 years      20793
< 1 year     18271
3 years      17969
5 years      15697
1 year       14817
4 years      14249
6 years      12773
7 years      12191
8 years      10358
9 years       8356
Name: emp_length, dtype: int64

In [190]:
# Convert emp_length to numeric years
data['emp_length'] = data['emp_length'].replace({'10+ years': 10,'9 years': 9,'8 years': 8,'7 years': 7,
    '6 years': 6,'5 years': 5,'4 years': 4,'3 years': 3,'2 years': 2,'1 year': 1,'< 1 year': 0,'n/a': np.nan
}).astype(float)

# Fill missing with median
data['emp_length'] = data['emp_length'].fillna(data['emp_length'].median())

In [191]:
data['emp_length'].value_counts()

10.0    67961
6.0     21006
2.0     20793
0.0     18271
3.0     17969
5.0     15697
1.0     14817
4.0     14249
7.0     12191
8.0     10358
9.0      8356
Name: emp_length, dtype: int64

In [192]:
data['loan_status']=data['loan_status'].map({'Safe':0,'Risky':1})

In [193]:
data['loan_status'].value_counts()

0    207722
1     13946
Name: loan_status, dtype: int64

In [194]:
data['term'].value_counts()

 36 months    176083
 60 months     45585
Name: term, dtype: int64

In [195]:
# Remove ' months', convert to integer, then to years
data['term'] = data['term'].str.replace(' months', '', regex=False).astype(int) / 12

In [196]:
data['term'].unique()

array([3., 5.])

In [198]:
data['home_ownership'].value_counts()

MORTGAGE    111084
RENT         91001
OWN          19432
OTHER          114
NONE            36
ANY              1
Name: home_ownership, dtype: int64

In [206]:
data['home_ownership'] = data['home_ownership'].replace({
    'MORTGAGE': 'MORTGAGE',
    'RENT': 'RENT',
    'OWN': 'OWN',
    'OTHER': 'OTHER',
    'NONE': 'OTHER',
    'ANY': 'OTHER'
})

In [207]:
data['home_ownership'].value_counts()

MORTGAGE    111084
RENT         91001
OWN          19432
OTHER          151
Name: home_ownership, dtype: int64

In [199]:
data['verification_status'].value_counts()

Verified           78818
Not Verified       76850
Source Verified    66000
Name: verification_status, dtype: int64

In [202]:
data['verification_status'] = data['verification_status'].replace({
    'Verified': 'Verified',
    'Source Verified': 'Verified',
    'Not Verified': 'Not Verified'
})

In [203]:
data['verification_status'].value_counts()

Verified        144818
Not Verified     76850
Name: verification_status, dtype: int64

In [208]:
data.to_csv('eda_data.csv',index=False)